.Header__enter___3Z7R2 {
  /*background-color: rgba(25, 25, 25, 0);*/
  transform: scaleX(0);
}
.Header__enter___3Z7R2.Header__enterActive___1B3TE {
  /*background-color: rgba(25, 25, 25, 1);*/
  transform: scaleX(1);
  transition: transform 2s;
}
.Header__leave___16E5W {
  /*background-color: rgba(25, 25, 25, 1);*/
  transform: scaleX(1);
  transition: transform 2s;
}
.Header__leave___16E5W.Header__leaveActive___1O4fK {
  /*background-color: rgba(25, 25, 25, 0);*/
  transform: scaleX(0);
}
.Header__appear___v52-Y {
  /*background-color: rgba(25, 25, 25, 0);*/
  transform: translateY(-50px);
}
.Header__appear___v52-Y.Header__appearActive___23ya- {
  /*background-color: rgba(25, 25, 25, 1);*/
  transform: translateY(0px);
  transition: transform 2s;
}

body.Header__Overflow___1-LGK { overflow: hidden; }

header.Header__Nav___SITni {
    /*border-bottom: 2px solid #8a1315;*/
    clear: both;
    display: block;
    font-size: 1.3em;
    /*background-color: #191919;*/
    height: 50px;
}


#Small_DR_Logo__logo___3pTZT.Small_DR_Logo__FadeInOnLoad___3W2gl, nav#Small_DR_Logo__DesktopMenu___2Ky24 ul.Small_DR_Logo__FadeInOnLoad___3W2gl {
    opacity: 0;
}

div.Small_DR_Logo__Logo___3Zdau{
  opacity: 1;
  height: 50px;
  transition: opacity 2s;
  float: left;
  padding-left: 10px;
}
div.Small_DR_Logo__Logo___3Zdau svg{
  height: 100%;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  stroke-width: 0;
  stroke: white;
  fill: white;
}
nav.DesktopNavigation__DesktopMenu___1yQxH ul.DesktopNavigation__FadeInOnLoad___3s0Ae {
    opacity: 0;
}

nav.DesktopNavigation__DesktopMenu___1yQxH ul {
    opacity: 1;
    height: 50px;
    transition: opacity 2s;
    float: right;
}
@media (max-width: 767px) {
    li.Li__Link___3R4-4 {
        display: none;
    }
    li.Li__Link___3R4-4.Li__Mobile___bwl19 {
        display: block !important;
    }
}
@media (min-width: 768px) {
    li.Li__MobileBtn___3Bm_z{
        display: none;
    }
}
li.Li__Link___3R4-4 {
    position: relative;
}

li.Li__MobileBtn___3Bm_z span,
li.Li__Link___3R4-4 a {
    padding: 0 20px;
    line-height: 50px;
    display: block;
    font-size: 1em;
    transition: color 0.5s linear;
    -webkit-transition: color 0.5s linear;
    font-weight: bold;
    cursor: pointer;
}

li.Li__Link___3R4-4 a::after {
    width: 100%;
    background-color: #8a1315;
    position: absolute;
    content: '';
    height: 0px;
    right: 0;
    /*bottom: 0;*/
    top: 0;
    z-index: -1;
    -webkit-transition: height 0.2s linear;
    transition: height 0.2s linear;
}

li.Li__Link___3R4-4 a:hover::after {
    width: 100%;
    background-color: #8a1315;
    position: absolute;
    content: '';
    height: 50px;
    right: 0;
    bottom: 0;
}

.Li__Active___195ou{
  color: #8a1315;
  pointer-events: none;
}
.Li__ActiveTwo___AP3Ct{
  color: #000;
  pointer-events: none;
}

nav.MobileNavigation__MobileNav___3MG5H.MobileNavigation__MenuToggled___1eVgU{
    left: 0;
    opacity: 1;
    visibility: visible;
    height: 100vh;
}
nav.MobileNavigation__MobileNav___3MG5H {
    background-color: #8a1315;
    width: 100%;
    position: absolute;
    padding-top: 0;
    z-index: 10;
    left: 1000px;
    margin-top: 50px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: left 1s, opacity 500ms, visibility 1s;
    transition: left 1s, opacity 500ms, visibility 1s;
}
nav.MobileNavigation__MobileNav___3MG5H ul {
    width: 100%;
    padding-top: 50px;
    height: 74vh;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    overflow-y: scroll;
}

nav.MobileNavigation__MobileNav___3MG5H ul li {
    width: 100%;
    height: 100px;
}

nav.MobileNavigation__MobileNav___3MG5H ul li a[data-disabled=true] {
    pointer-events: none;
}

nav.MobileNavigation__MobileNav___3MG5H ul li a[data-disabled=false]:hover {
    color: black;
}
aside.Angles__Angles___17wja {
    height: calc(100% - 164px);
    /*50px to account for scroll to top btn*/
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

svg.Angles__ScrollBars___6-VPw.Angles__Right___1nO8w {
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
    float: right;
}

svg.Angles__ScrollBars___6-VPw {
    fill: #8a1315;
    background-color: transparent;
    position: relative;
    float: left;
    width: 500px;
    z-index: -1;
    clear: both;
    margin-bottom: -250px;
    -webkit-transition: margin-left 1s, margin-right 1s, margin-bottom 1s;
    transition: margin-left 1s, margin-right 1s, margin-bottom 1s;
}

svg.Angles__ScrollBars___6-VPw rect {
    width: 300px;
    -webkit-transition: x 1s;
    transition: x 1s;
    height: 65px;
}

svg.Angles__ScrollBars___6-VPw rect.Angles__One___2q4VU {
    -webkit-transform: translate(30px, 90px) skewY(-47deg);
    transform: translate(30px, 90px) skewY(-47deg);
}

svg.Angles__ScrollBars___6-VPw rect.Angles__Two___3XZ1E {
    -webkit-transform: translate(-3px, 124px) skewY(-47deg);
    transform: translate(-3px, 124px) skewY(-47deg);
    opacity: 0.75;
}

svg.Angles__ScrollBars___6-VPw rect.Angles__Three___3mx7M {
    -webkit-transform: translate(20px, 98px) skewY(-47deg);
    transform: translate(20px, 98px) skewY(-47deg);
    opacity: 0.57;
}

svg.Angles__ScrollBars___6-VPw rect.Angles__Four___2Zozx {
    -webkit-transform: translate(57px, 57px) skewY(-47deg);
    transform: translate(57px, 57px) skewY(-47deg);
}

@media (max-width: 789px) {
    svg.Angles__ScrollBars___6-VPw {
        margin-left: -353px;
        margin-bottom: -90px;
    }
    svg.Angles__ScrollBars___6-VPw.Angles__Right___1nO8w {
        margin-right: -353px;
    }
}

@media (min-width: 780px) and (max-width: 1099px) {
    svg.Angles__ScrollBars___6-VPw {
        margin-left: -297px;
        margin-bottom: -250px;
    }
    svg.Angles__ScrollBars___6-VPw.Angles__Right___1nO8w {
        margin-right: -325px;
    }
}

@media (min-width: 1100px) and (max-width: 1299px) {
    svg.Angles__ScrollBars___6-VPw {
        margin-left: -171px;
        margin-bottom: -250px;
    }
    svg.Angles__ScrollBars___6-VPw.Angles__Right___1nO8w {
        margin-right: -262px;
    }
}

@media (min-width: 1300px) and (max-width: 1599px) {
    svg.Angles__ScrollBars___6-VPw {
        margin-left: -82px;
        margin-bottom: -250px;
    }
    svg.Angles__ScrollBars___6-VPw.Angles__Right___1nO8w {
        margin-right: -195px;
    }
}

footer.Footer__Footer___2IsvV {
    width: 100%;
    text-align: center;
    background-color: rgb(45, 44, 44);
    /*margin-top: 100px;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

footer.Footer__Footer___2IsvV a>svg.Footer__icon___3fCiy {
    height: 2em;
    width: 2em;
    fill: white;
    padding: 10px;
}

footer.Footer__Footer___2IsvV a>svg.Footer__icon___3fCiy:hover {
    fill: #8a1315;
}

.Footer__icon___3fCiy {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: white;
    fill: white;
}
aside.PageTransition__Angles___37tiT {
    height: calc(100% - 164px);
    /*50px to account for scroll to top btn*/
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

svg.PageTransition__ScrollBars___1udQB.PageTransition__Right___1I2Mn {
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
    float: right;
}

svg.PageTransition__ScrollBars___1udQB {
    fill: #8a1315;
    background-color: transparent;
    position: relative;
    float: left;
    width: 100%;
    z-index: -1;
    clear: both;
    margin-bottom: -250px;
    -webkit-transition: margin-left 1s, margin-right 1s, margin-bottom 1s;
    transition: margin-left 1s, margin-right 1s, margin-bottom 1s;
}
svg.PageTransition__ScrollBars___1udQB rect {
    width: 507px;
    -webkit-transition: x 1s ease-out;
    transition: x 1s ease-out;
    height: 22px;
    stroke: rgb(12,12,12);
    stroke-width: 1.8;
}
svg.PageTransition__ScrollBars___1udQB rect.PageTransition__One___YANlE {
    -webkit-transform: translate(30px, 90px) skewY(-47deg);
    transform: translate(30px, 90px) skewY(-47deg);
}

svg.PageTransition__ScrollBars___1udQB rect.PageTransition__Two___NK5y8 {
    -webkit-transform: translate(-3px, 124px) skewY(-47deg);
    transform: translate(-3px, 124px) skewY(-47deg);
    fill: #6a1112;
}

svg.PageTransition__ScrollBars___1udQB rect.PageTransition__Three___3bfC0 {
    -webkit-transform: translate(20px, 98px) skewY(-47deg);
    transform: translate(20px, 98px) skewY(-47deg);
    fill: #530f10;
}

svg.PageTransition__ScrollBars___1udQB rect.PageTransition__Four___1vLJv {
    -webkit-transform: translate(57px, 57px) skewY(-47deg);
    transform: translate(57px, 57px) skewY(-47deg);
}
.PageTransition__PageTransition___1Oi_l{
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  svg.PageTransition__ScrollBars___1udQB {
      width: 150%;
  }
}

@media (max-width: 767px) {
  svg.PageTransition__ScrollBars___1udQB {
      width: 200%;
  }
}

.LogoSection__enter___3U7LL {
  opacity: 0.01;
  padding-top: 100px;

}
.LogoSection__enter___3U7LL.LogoSection__enterActive___RTsIC {
  padding-top: 50px;
  opacity: 1;
  transition: opacity 2s ease-in,padding-top 2s ease-in;
}
.LogoSection__leave___3JeP5 {
  opacity: 1;
  transition: opacity 2s ease-in;
}
.LogoSection__leave___3JeP5.LogoSection__leaveActive___291Ym {
  padding-top: 50px;
  opacity: 1;
  transition: opacity 2s ease-in,padding-top 2s ease-in;
}
.LogoSection__appear___3DBx1 {
  opacity: 0.01;
  padding-top: 100px;
}
.LogoSection__appear___3DBx1.LogoSection__appearActive___2HJiF {
  padding-top: 50px;
  opacity: 1;
  transition: opacity 2s ease-in,padding-top 2s ease-in;
}

#LogoSection__Logo___1imNP {
    width: 100%;
    padding-bottom: 50px;
    top: 0;
    font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
    position: relative;
    padding-bottom: 200px;
    z-index: -1;
}

.LogoSection__Img___GXR44 {
    text-align: center;
}

.LogoSection__Img___GXR44 img {
    width: 90%;
    height: auto;
    max-width: 500px;
}

.LogoSection__overlay___4yaI5{
  position:absolute; top:0px; left:0px; width:78px; height:120px;
    background-image: -moz-linear-gradient( center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%);
    background-image:   -o-linear-gradient( rgba(255,255,255,0) 25%, rgb(255,255,255) 40%);
    background-image:     -webkit-gradient( linear, left bottom, left top, color-stop(0.60, rgb(255,255,255)), color-stop(0.75, rgba(255,255,255,0)));
filter: progid:DXImageTransform.Microsoft.Gradient( gradientType=0, startColor=0, EndColorStr=#ffffff);

}
.LogoSection__Title___2Q6HY {
    font-size: 5em;
    margin-top: -100px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Anton', sans-serif;
}
@element '.Title_EQCSS_1' {
    .Title_EQCSS_2{
        font-size: 27ew !important;
    }
}
/*@media (max-width: 320px) {
    .Title {
        font-size: 2.7em;
    }
}

@media (min-width: 321px) and (max-width: 450px) {
    .Title {
        font-size: 4.4em;
        margin-top: -50px
    }
}*/

.LogoSection__Quote___362IW {
    text-align: center;
    color: #6b6b6b;
}

.LogoSection__Quote___362IW:before {
    content: "<";
    color: white;
    font-weight: 900;
}

.LogoSection__Quote___362IW:after {
    content: "/>";
    color: white;
    font-weight: 900;
}

@media (min-width: 1025px) {
    .LogoSection__Content___3p2uS {
        max-width: 60%;
    }
    .LogoSection__Content___3p2uS.LogoSection__Larger___Vp9Ok {
        max-width: 80%;
    }
}


/*Tablet*/

@media (min-width: 768px) and (max-width: 1024px) {
    .LogoSection__Content___3p2uS {
        max-width: 80%;
    }
}


/*Mobile*/

@media (max-width: 767px) {
    .LogoSection__Content___3p2uS {
        max-width: 100%;
    }
}



.LogoSection__Content___3p2uS {
    margin: 0 auto;
}

.LogoSection__Content___3p2uS header {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.WelcomeSection__RemoveOnScroll___1nU_7 {
    top: 300px !important;
    opacity: 0 !important;
}
section#WelcomeSection__Welcome___2BCN_ div#WelcomeSection__EGA___TQGtM {
    float: right;
    opacity: 0.05;
    margin-top: -100px;
}
@media (min-width: 1025px) {
    section>div.WelcomeSection__Content___1mCg2 {
        max-width: 60%;
    }
    section>div.WelcomeSection__Content___1mCg2.WelcomeSection__Larger___3GrMm {
        max-width: 80%;
    }
}


/*Tablet*/

@media (min-width: 768px) and (max-width: 1024px) {
    section>div.WelcomeSection__Content___1mCg2 {
        max-width: 80%;
    }
}


/*Mobile*/

@media (max-width: 767px) {
    section>div.WelcomeSection__Content___1mCg2 {
        max-width: 100%;
    }
    .WelcomeSection__DownArrow___3NSjV{
      display: none;
    }
}

section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    top: 0;
    transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
    position: relative;
}

section>div.WelcomeSection__Content___1mCg2 {
    margin: 0 auto;
}

section>div.WelcomeSection__Content___1mCg2 header {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
section>div.WelcomeSection__Content___1mCg2 p {
    padding-left: 5%;
    padding-right: 1%;
}

section>div.WelcomeSection__Content___1mCg2 h1.WelcomeSection__BackgroundText___ffsSe, section>div.WelcomeSection__Content___1mCg2 span.WelcomeSection__BackgroundText___ffsSe {
    padding-left: 50px;
    color: #111010;
    font-size: 4em;
}

section>div.WelcomeSection__Content___1mCg2 h2.WelcomeSection__TitlePop___1Wpvh, section>div.WelcomeSection__Content___1mCg2 span.WelcomeSection__TitlePop___1Wpvh {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #8a1315;
    font-size: 3em;
}

section>div.WelcomeSection__Content___1mCg2 div.WelcomeSection__DownArrow___3NSjV {
    text-align: center;
    clear: both;
    opacity: 0.5;
    -webkit-transform: scaleX(3);
    transform: scaleX(3);
}

section>div.WelcomeSection__Content___1mCg2 div.WelcomeSection__DownArrow___3NSjV svg{
    display: inline-block;
    width: 0.642578125em;
    height: 1em;
    stroke-width: 0;
    stroke: white;
    fill: white;
}

span.WelcomeSection__WordPop___255dn {
    color: #8a1315;
}

span.WelcomeSection__WordPop___255dn a {
    color: #8a1315;
    text-decoration: none;
    border-bottom: 1px solid #8a1315;
    transition: border-bottom 0.5s linear;
    -webkit-transition: border-bottom 0.5s linear;
    z-index: 1;
    position: relative;
}

span.WelcomeSection__WordPop___255dn a:hover {
    border-bottom: 1px solid #fff;
}
.ProjectSection__RemoveOnScroll___3gWB5 {
    top: 300px !important;
    opacity: 0 !important;
}
@media (max-width: 767px) {
    .ProjectSection__TitlePop___15k8T {
        font-size: 2em;
        left: 5%;
    }
    .ProjectSection__Content___2Rhi7 {
        max-width: 85%;
    }
}
@media (min-width: 1025px) {
    .ProjectSection__Content___2Rhi7 {
        max-width: 60%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .ProjectSection__Content___2Rhi7 {
        max-width: 80%;
    }
}
#ProjectSection__Projects___1uQsW {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    top: 0;
    transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
    position: relative;
}
.ProjectSection__Content___2Rhi7 {
    margin: 0 auto;
}
.ProjectSection__Header___2f8jD{
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.ProjectSection__BackgroundText___3U-9q{
    padding-left: 50px;
    color: #111010;
    font-size: 4em;
}
.ProjectSection__TitlePop___15k8T {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #8a1315;
    font-size: 3em;
}
span.ProjectSection__WordPop___cBKWm {
    color: #8a1315;
}

span.ProjectSection__WordPop___cBKWm a {
    color: #8a1315;
    text-decoration: none;
    border-bottom: 1px solid #8a1315;
    transition: border-bottom 0.5s linear;
    -webkit-transition: border-bottom 0.5s linear;
    z-index: 1;
    position: relative;
}

span.ProjectSection__WordPop___cBKWm a:hover {
    border-bottom: 1px solid #fff;
}
@element '.ProjectContainer_EQCSS_1' {
    $this {
        font-size: 2.5ew !important;
    }
}
@element '.ProjectContainer_EQCSS_2' {
    $this {
        font-size: 7ew !important;
    }
}
.ProjectContainer__RemoveOnScroll___1pSwx {
    top: 300px !important;
    opacity: 0 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ProjectContainer__ProjectDisplay___1oPGi span {
        /*font-size: 90% !important;*/
    }
}

@media (max-width: 767px) {
    .ProjectContainer__ProjectContainer___1gpzO {
        height: 150px !important;
    }
    .ProjectContainer__ProjectDisplay___1oPGi {
        height: 160px !important;
        width: 96% !important;
    }
    .ProjectContainer__ProjectOverview___3LgLt {
        display: none !important;
    }
    .ProjectContainer__ProjectDisplay___1oPGi span {
        /*font-size: 90% !important;*/
    }
}

.ProjectContainer__ProjectContainer___1gpzO {
    width: 75%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-top: red solid 1px;
    border-bottom: red solid 1px;
    top: 0;
    opacity: 1;
    -webkit-transition: top 1s, opacity 1s;
    transition: top 1s, opacity 1s;
}


.ProjectContainer__Right___2DDXe{
  float: right !important;
  margin-right: 2% !important;
  margin-left: 0 !important;
}
.ProjectContainer__ProjectDisplay___1oPGi {
    height: 210px;
    width: 40%;
    background-color: rgb(19, 18, 18);
    margin-top: -10px;
    float: left;
    margin-left: 2%;
    position: relative;
    padding-top: 10px;
    overflow: hidden;
    cursor: pointer;
}



.ProjectContainer__ProjectDisplay___1oPGi span {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
    /*font-family: 'Exo', sans-serif;*/
    text-transform: uppercase;
    letter-spacing: 2px;
}



.ProjectContainer__ProjectOverview___3LgLt {
    width: 40%;
    height: 200px;
    float: left;
    margin-left: 10%;
    display: table;
    font-size: 15px;
}

.ProjectContainer__Row___20IZ- {
    display: table-row;
}

.ProjectContainer__Row___20IZ- span {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.ProjectContainer__Highlight___q2Wc6 {
    color: #6b6b6b;
}

.ProjectContainer__ProjectDisplay___1oPGi svg {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    fill: rgb(21, 20, 20);
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    display: inline-block;
    stroke-width: 0;
    stroke: white;
}

.ProjectContainer__ProjectDisplay___1oPGi:after {
    content: "";
    position: absolute;
    top: -207%;
    left: -210%;
    width: 200%;
    height: 207%;
    opacity: 0;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.37);
    background: -webkit-linear-gradient( left, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.09) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.09) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}


.ProjectContainer__ProjectDisplay___1oPGi:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    -webkit-transition: left 0.7s ease, top 0.7s ease, opacity 0.15s ease;
    transition: left 0.7s ease, top 0.7s ease, opacity 0.15s ease;
}
.Projects__Header___g7Xev{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.Projects__Title___jkKNf{
  position: relative;
  left: 0;
  bottom: 0;
  color: #690e10;
  font-size: 4.5em;
}
.Projects__P___32IPD{
  padding-left: 5%;
  padding-right: 1%;
}
.Projects__Section___LZLlM{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 1;
  top: 0;
  transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
  -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
  font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
  position: relative;
}
@media (min-width: 1025px) {
    .About__Content___Us99L{max-width: 80%;}
}
/*Tablet*/
@media (min-width: 700px) and (max-width: 1024px) {
    .About__Content___Us99L{max-width: 90%;}
}
/*Mobile*/
@media (max-width: 699px) {
    .About__Content___Us99L{max-width: 100%;}
}
@media (max-width: 700px) {
    .About__ImgWrapper___jgyaE{
        float: none !important;
        width: 70% !important;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .About__P___fXcmP{
        float: none !important;
        width: 90% !important;
    }
    .About__Title___3vn_5{
      text-align: center;
    }
}
@keyframes About__ScaleX___25_9_ {
    from {
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
    }

    to {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
}
@keyframes About__ScaleY___1ed2x {
    from {
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
    }

    to {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}
.About__Section___2NjFr{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    top: 0;
    transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
    position: relative;
}
.About__Content___Us99L{
    margin: 0 auto;
}
.About__Header___230jO{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.About__TitlePop___3770G{
    left: 20%;
    position: absolute;
    bottom: 0;
    color: #8a1315;
    font-size: 3em;
}
.About__P___fXcmP{
    padding-left: 5%;
    padding-right: 1%;
    float: right;
    width: 60%;
}
.About__P2___3HT1P{
    padding-left: 5%;
    padding-right: 1%;
}
.About__Title___3vn_5{
  padding-top: 50px;
}
.About__BackgroundText___1VTNc{
    padding-left: 50px;
    color: #111010;
    font-size: 4em;
}


.About__ImgWrapper___jgyaE{
    float: left;
    width: 25%;
    position: relative;
}
.About__ImgWrapper___jgyaE::after{
    content: "";
    width: 110%;
    height: 10px;
    border-bottom: #8a1315 solid 2px;
    position: absolute;
    left: -5%;
    bottom: 3.5%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-animation: About__ScaleX___25_9_ 2s ease 1s forwards;
            animation: About__ScaleX___25_9_ 2s ease 1s forwards;
}
.About__ImgWrapper___jgyaE::before{
    content: "";
    width: 110%;
    height: 5px;
    border-bottom: #8a1315 solid 2px;
    position: absolute;
    border-top: #8a1315 solid 2px;
    left: -5%;
    top: 1.5%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-animation: About__ScaleX___25_9_ 2s ease forwards;
            animation: About__ScaleX___25_9_ 2s ease forwards;
}

.About__ImgWrapper2___3_C_e::after{
    content: "";
    height: 105%;
    border-right: #8a1315 solid 2px;
    position: absolute;
    right: 3%;
    top: -3%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-animation: About__ScaleY___1ed2x 2s ease 1s forwards;
            animation: About__ScaleY___1ed2x 2s ease 1s forwards;
}
.About__ImgWrapper2___3_C_e::before{
    content: "";
    border-left: #8a1315 solid 2px;
    position: absolute;
    left: 3.5%;
    height: 105%;
    border-right: #8a1315 solid 2px;
    top: -3%;
    width: 5px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-animation: About__ScaleY___1ed2x 2s ease forwards;
            animation: About__ScaleY___1ed2x 2s ease forwards;
}
.About__Img___Uw9wa{
    width: 100%;
}
@media (min-width: 1025px) {
    .Contact__Content___3PP94{max-width: 50%;}
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .Contact__Content___3PP94{max-width: 80%;}
}
/*Mobile*/
@media (max-width: 767px) {
    .Contact__Content___3PP94{max-width: 100%;}
}
.Contact__Content___3PP94{
    margin: 0 auto;
}
#Contact__Contact___165gC header span.Contact__BackgroundText___1sBlB{
    padding-left: 50px;
    color: #111010;
    font-size: 4em;
}
#Contact__Contact___165gC header  span.Contact__TitlePop___3uixv{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #8a1315;
    font-size: 3em;
}
#Contact__Contact___165gC{
    width: 100%;
    padding-top:15vh;
    padding-bottom: 17.37vh;
    opacity: 1;
    top: 0;
    transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
    position: relative;
}
#Contact__Contact___165gC header{
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 25px;
}
#Contact__Contact___165gC p{
    font-size: 0.7em;
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 1%;
}
#Contact__Contact___165gC p a{
    color: #8a1315;
    transition: color 500ms;
}
#Contact__Contact___165gC p a:hover{
    color: #6b6b6b;
}
#Contact__Contact___165gC ul{
    position: relative;
    height: 60px;
    max-height: 260px;
}
#Contact__Contact___165gC li{
    float: none;
}
#Contact__Contact___165gC textarea{
    height: 37px;
    resize: none;
    max-height: 250px;
}
#Contact__Contact___165gC textarea,
#Contact__Contact___165gC input{
    width: 85%;
    position: absolute;
    font-size: 22px;
    line-height: 1.7;
    padding-left: 24px;
    background: none;
    color: white;
    border-width: 0px 0 2px 0;
    outline-style: none;
    z-index: 5;
    display: block;
    transition: width 1s ease 1s, padding-left 250ms ease 1250ms;
}
#Contact__Contact___165gC li[data-active="false"] textarea,
#Contact__Contact___165gC li[data-active="false"] input{
    width: 0;
    padding-left: 0;
    z-index: 1;
    transition: width 1s ease 0s, padding-left 250ms ease 1000ms;
}
.Contact__LabelContainer___32dac{
  transform-origin: left;
    position: absolute;
    opacity: 1;
    color: #8a1315;
    font-size: 27px;
    padding: 3px 25px 3px 25px;
    transition: transform 250ms, background-color 250ms, opacity 1s ease 1s;
    display: block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    border-radius: 4px;
}
.Contact__LabelContainer___32dac label{
    cursor: inherit;
}
#Contact__Contact___165gC li[data-active="false"] div.Contact__LabelContainer___32dac{
    opacity: 0;
}
#Contact__Contact___165gC li[data-active="false"][data-transitioned="true"] div.Contact__LabelContainer___32dac{
    opacity: 1;
}
.Contact__LabelContainer___32dac svg{
    margin-bottom: -4px
}
#Contact__Contact___165gC li[data-error="true"] textarea,
#Contact__Contact___165gC li[data-error="true"] input{
    color: #864646;
    border-color: #864646;
}
#Contact__Contact___165gC li[data-error="true"] div{
    color: #864646;
}
#Contact__Contact___165gC .Contact__button___2NWcG{
    width: 150px;
    text-align: center;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    transition: background-color 500ms;
}
#Contact__Contact___165gC button[data-validate=true],
#Contact__Contact___165gC .Contact__button___2NWcG[data-validate=true]{
    background-color: #8a1315;
}
#Contact__Contact___165gC button[data-validate=false],
#Contact__Contact___165gC .Contact__button___2NWcG[data-validate=false]{
    background-color: #111010;
}
#Contact__Contact___165gC button[data-validate=false]{
    pointer-events: none;
}
#Contact__Contact___165gC button{
    background-color: #8a1315;
    width: 150px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    transition: background-color 500ms;
}
#Contact__Contact___165gC button:hover,
#Contact__Contact___165gC .Contact__button___2NWcG:hover{
    transform: rotate(1deg);
}
/*#region Projects-Title BEGIN*/
@media (min-width: 768px) and (max-width: 1024px) {
    .ProjectPage__TitleLi____5SQI{width: 100% !important;}
    .ProjectPage__TitleContainer___1jw4B{padding-right: 0 !important;}
    .ProjectPage__Title___3Vy8N{font-size: 55px !important;}
}
@media (max-width: 767px) {
  .ProjectPage__Title___3Vy8N{font-size: 10vw !important;}
  .ProjectPage__TitleLi____5SQI{width: 100% !important;}
  .ProjectPage__Container___2URit{width: 100% !important; padding-top: 0 !important;}
  .ProjectPage__TitleContainer___1jw4B{
    padding-bottom: 0 !important;
    width: 100% !important;
    float: left;
  }
  .ProjectPage__TitlePhoto___1g2ob{width: 100% !important;float: left !important;}
  #ProjectPage__Title___3Vy8N{padding-left: 0px !important;padding-right: 0px !important;}
  .ProjectPage__TitlePhoto___1g2ob img{
      width: 100% !important;
      min-width: 100% !important;
  }
  .ProjectPage__RedDetails___o3Fi3{
      padding-right: 0 !important;
      display: block;
      padding-bottom: 5px;
  }
  .ProjectPage__Details___1Rik_{
      margin-top: 50px !important;
  }
}
.ProjectPage__Section___2trEC{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 1;
  top: 0;
  transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
  -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
  font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
  position: relative;
}
.ProjectPage__Container___2URit{
    display: table;
    margin: 0 auto;
    width: 80%;
}
.ProjectPage__Details___1Rik_{
    width: 100%;
    height: 50px;
    margin-top: 100px;
    text-align: center;
}
.ProjectPage__Details___1Rik_ li{
  width: 33.33%;
  font-size: 0.8em;
}
.ProjectPage__TitleLi____5SQI{
    width: 33.33%;
    font-size: 0.8em;
}
.ProjectPage__RedTitle___3-Cw2{
    color: #8a1315;
}
.ProjectPage__RedDetails___o3Fi3{
    color: #8a1315;
    padding-right: 8px;
}
.ProjectPage__TitleContainer___1jw4B{
    font-size: 16px;
    padding-top: 50px;
    text-align: center;
    height: 150px;
    padding-bottom: 50px;
    width: 50%;
    vertical-align: middle;
    display: table-cell;
}
.ProjectPage__Title___3Vy8N{
    font-size: 65px;
    /*font-family: 'Alegreya', serif;*/
}
.ProjectPage__SubTitle___2r9M8{
    font-size: 20px;
}
.ProjectPage__TitlePhoto___1g2ob{
    vertical-align: middle;
    width: 50%;
    display: table-cell;;
    margin: 0 auto;
    text-align: center;
}
.ProjectPage__TitlePhoto___1g2ob img{
    font-size: 16px;
    height: auto;
    width: 80%;
    min-width: 450px;
}
/*#endregion*/


/*#region Projects-Description BEGIN*/
@media (min-width: 768px) and (max-width: 1024px) {
    #ProjectPage__Description___1ppkN p{width: 40% !important;}
}
@media (max-width: 767px) {
    #ProjectPage__Description___1ppkN p{width: 100% !important;}
}

#ProjectPage__Description___1ppkN{
    background-color: rgb(25,25,25);
}
#ProjectPage__Description___1ppkN p{
    text-align: center;
    font-size: 20px;
    width: 20%;
    margin: 0 auto;
}
#ProjectPage__Description___1ppkN p::first-letter{
    font-size: 90px;
    float: left;
    line-height: 1;
    margin: -33px 11px 0 0;
    color: #8a1315;
    font-weight: 700;
}
/*#endregion*/


/*#region Projects-Experience BEGIN*/
@media (min-width: 768px) and (max-width: 1024px) {
    #ProjectPage__Experience___1Ian_ > div{width: 80% !important;}
    #ProjectPage__Experience___1Ian_ p{width: 100% !important;}
    #ProjectPage__Experience___1Ian_ div.ProjectPage__SkillsContainer___1s7GP{width: 100% !important;margin-left: 0 !important; margin-top: 75px;}
}
@media (max-width: 767px) {
    #ProjectPage__Experience___1Ian_ > div{width: 100% !important;}
    #ProjectPage__Experience___1Ian_ p{width: 100% !important;}
    #ProjectPage__Experience___1Ian_ div.ProjectPage__SkillsContainer___1s7GP{width: 100% !important;margin-left: 0 !important; margin-top: 75px;}

}
.ProjectPage__ExperienceContainer___fnOrI{
  margin: 0 auto;
  width: 60%;
}
.ProjectPage__ExperienceContainer___fnOrI:after{
  content: "";
  clear: both;
  display: block;
}
#ProjectPage__Experience___1Ian_ p{
    width: 45%;
    float: left;
}
.ProjectPage__SkillsContainer___1s7GP{
    width: 45%;
    float: left;
    margin-left: 10%;
    font-size: 0.8em;
    /*font-family: 'Alegreya', serif;*/
    border-top: 2px solid red;
    position: relative;
    border-bottom: 2px solid red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ProjectPage__SkillsTitle___3see3{
    width: 100%;
    text-align: center;
    position: absolute;
    top: -12px;
}
.ProjectPage__SkillsContainer___1s7GP > div > span{
    padding: 6px 15px;
    background-color: rgb(12,12,12);
}
.ProjectPage__Skill___1taHV{
    padding: 1em;
}
/*#endregion*/


/*#region Projects-Design BEGIN*/
@media (min-width: 768px) and (max-width: 1024px) {
    .ProjectPage__ColorSwatchContainer___J9YAp{padding-left: 25px !important;padding-right: 25px !important;}
}
@media (max-width: 767px) {
    .ProjectPage__ColorSwatchContainer___J9YAp{width: 100% !important; display: table-row !important; padding: 0 !important; margin-top: 15px !important;}
    .ProjectPage__ColorSwatchContainer___J9YAp > div{margin: 0 auto !important;}
}

#ProjectPage__Design___12NUf{
    background-color: rgb(25,25,25);
    overflow: hidden;
}
.ProjectPage__ColorSwatchContainer___J9YAp{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 3px;
    font-size: 0.8em;
    text-align: center;
    /*font-family: Consolas,Monaco,Bitstream Vera Sans Mono,Courier,monospace;*/
}
.ProjectPage__ColorSwatchContainer___J9YAp > div{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 8px 7px 0 rgba(0, 0, 0, 0.47);
    margin-bottom: 10px;
}
.ProjectPage__ColorSwatchContainer___J9YAp > div:hover{
    box-shadow: 0 13px 14px 0 rgba(0, 0, 0, 0.47);
}
#ProjectPage__Design___12NUf > div{
    margin: 0 auto;
    display: table;
}
/*#endregion*/


/*#region Projects-Extra BEGIN*/
@media (min-width: 768px) and (max-width: 1024px) {
    svg.ProjectPage__AngledBtn___23Glo{
      width: 70% !important;
    }
}
@media (max-width: 767px) {
    svg.ProjectPage__AngledBtn___23Glo{
      width: 100% !important;
    }
}
#ProjectPage__Extra___1sVpJ > div{
    display: table;
    width: 100%;
    text-align: center;
}
svg.ProjectPage__AngledBtn___23Glo{
  fill: #b50404;
  background-color: transparent;
  width: 50%;
  z-index: -1;
  cursor: pointer;
}
svg.ProjectPage__AngledBtn___23Glo text{
  fill: white;
  font-size: 16px;
}
svg.ProjectPage__AngledBtn___23Glo:hover text{
  fill: black;
}
svg.ProjectPage__AngledBtn___23Glo rect{
  width: 60%;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  height: 20px;
}
svg.ProjectPage__AngledBtn___23Glo rect:nth-of-type(1){
  -webkit-transform: skewX(-47deg);
          transform: skewX(-47deg);
  opacity: 0.18;
}
svg.ProjectPage__AngledBtn___23Glo rect:nth-of-type(2){
  -webkit-transform: skewX(-47deg);
          transform: skewX(-47deg);
  opacity: 0.75;
}
svg.ProjectPage__AngledBtn___23Glo rect:nth-of-type(3){
  -webkit-transform: skewX(-47deg);
          transform: skewX(-47deg);
}


svg.ProjectPage__AngledBtn___23Glo:hover rect:nth-of-type(1){
  -webkit-transform: translateX(-20px) skewX(-47deg);
          transform: translateX(-20px) skewX(-47deg);
  opacity: 0.18;
}
svg.ProjectPage__AngledBtn___23Glo:hover rect:nth-of-type(2){
  -webkit-transform: translateX(20px) skewX(-47deg);
          transform: translateX(20px) skewX(-47deg);
  opacity: 0.75;
}
svg.ProjectPage__AngledBtn___23Glo:hover rect:nth-of-type(3){
  -webkit-transform: translateX(-20px) skewX(-47deg);
          transform: translateX(-20px) skewX(-47deg);
}
/*#endregion*/
#ProjectPage__CodeExample___39LNj{
  background-color: rgb(25,25,25);
  overflow: hidden;
}

#ProjectPage__CodeExample___39LNj > div{
    margin: 0 auto;
    width: 75%;
}
#ProjectPage__CodeExample___39LNj pre{
  border-radius: 6px;
  padding: 5px;
  background: #232323;
  font-size: 0.7em;
}
@media (max-width: 767px) {
  #ProjectPage__CodeExample___39LNj > div{
      width: 90%;
  }
}
