
hr.LineBreak{
  background: rgb(0,0,0);
  border: 0;
  content: "";
  display: block;
  height: 1px;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
}
.MenuLink{
  color: white;
  text-decoration: none;
}
.MenuLink span{
  padding: 3px;
  cursor: pointer;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.MenuLink:visited{
  color: white;
}
.MenuLink ul{
  padding-top: 5px;
}

.MenuLink:hover{
  background-color: rgba(0,0,0,0.15);
}
.MenuLink{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding: 3px;
  cursor: pointer;
  color: white;
  overflow: hidden;
  outline: none;
  display: block;
}
.SubLink{
  font-size: 75%;
}
#Header div.bm-item{
  transition: max-height 0.5s;
  max-height: 300px;
  overflow-y: hidden;
}
#Header .bm-burger-button {
  float: right;
  position: relative;
  width: 47px;
  height: 43px;
  right: 36px;
  top: 29px;
}
#Header .bm-burger-button:hover .bm-burger-bars{
  background: white;
}

/* Color/shape of burger icon bars */
#Header .bm-burger-bars {
  background: black;
  opacity: 1 !important;
  transition: background-color 0.3s;
}

/* Position and sizing of clickable cross button */
#Header .bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
#Header .bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
#Header .bm-menu {
  background: #611212;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
#Header .bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
#Header .bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
#Header a.bm-item {
  display: inline-block;
  padding: 3px;
}

#Header a.bm-item:hover {
  background-color: rgba(0,0,0,0.15);
}

/* Styling of overlay */
#Header .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.arrow{
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  left: -6px;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  transform: rotate(45deg);
  float: right;
}
.arrow:before,
.arrow:after{
  position: absolute;
  content: '';
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: #fff;
  transition: 0.4s ease;
}
.arrow:after{
  position: absolute;
  transform: rotate(90deg);
  top: 4.5px;
  left: 9px;
}
.active.arrow{
  transform: rotate(45deg) translate(-5px,-5px);
}
.active.arrow:before{
  transform: translate(10px,0);
}
.active.arrow:after{
  transform: rotate(90deg) translate(10px,0);
}
.DropDownLink{
  display: flex !important;
  justify-content: space-between;
}
.DropDownLink > a{
  flex: 1;
}
.DropDownLink > div{
  flex: 0.5;
  display: flex;
  justify-content: center;
}