/*@media (min-width: 1025px) {
    .Content{max-width: 80%;}
}
@media (min-width: 700px) and (max-width: 1024px) {
    .Content{max-width: 90%;}
}
@media (max-width: 699px) {
    .Content{max-width: 100%;}
}*/
/*@keyframes ScaleX {
    from {
                transform: scaleX(0);
    }

    to {
                transform: scaleX(1);
    }
}
@keyframes ScaleY {
    from {
                transform: scaleY(0);
    }

    to {
                transform: scaleY(1);
    }
}*/
/*.Section{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    top: 0;
    transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
    position: relative;
}*/
/*.Content{
    margin: 0 auto;
}*/
/*.Header{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.TitlePop{
    left: 20%;
    position: absolute;
    bottom: 0;
    color: #8a1315;
    font-size: 3em;
}*/
/*.P{
    padding-left: 5%;
    padding-right: 1%;
    float: right;
    width: 60%;
}
.P2{
    padding-left: 5%;
    padding-right: 1%;
}*/
/*.Title{
  padding-top: 50px;
}
.BackgroundText{
    padding-left: 50px;
    color: #111010;
    font-size: 4em;
}*/


/*.ImgWrapper{
    float: left;
    width: 25%;
    position: relative;
}
.ImgWrapper::after{
    content: "";
    width: 110%;
    height: 10px;
    border-bottom: #8a1315 solid 2px;
    position: absolute;
    left: -5%;
    bottom: 3.5%;
    transition: transform 1s;
}
.ImgWrapper::before{
    content: "";
    width: 110%;
    height: 5px;
    border-bottom: #8a1315 solid 2px;
    position: absolute;
    border-top: #8a1315 solid 2px;
    left: -5%;
    top: 1.5%;
    transition: transform 1s;
}*/

/*.ImgWrapper2::after{
    content: "";
    height: 105%;
    border-right: #8a1315 solid 2px;
    position: absolute;
    right: 3%;
    top: -3%;
    transition: transform 1s;
}
.ImgWrapper2::before{
    content: "";
    border-left: #8a1315 solid 2px;
    position: absolute;
    left: 3.5%;
    height: 105%;
    border-right: #8a1315 solid 2px;
    top: -3%;
    width: 5px;
    transition: transform 1s;
}*/
/*.Img{
    width: 100%;
}*/
