/*
footer.Footer {
    width: 100%;
    text-align: center;
    background-color: rgb(45, 44, 44);
    padding-top: 10px;
    padding-bottom: 10px;
}

footer.Footer a>svg.icon {
    height: 2em;
    width: 2em;
    fill: white;
    padding: 10px;
}

footer.Footer a>svg.icon:hover {
    fill: #8a1315;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: white;
    fill: white;
}*/
