
nav.MobileNav.MenuToggled{
    left: 0;
    opacity: 1;
    visibility: visible;
    height: 100vh;
}
nav.MobileNav {
    background-color: #8a1315;
    width: 100%;
    position: absolute;
    padding-top: 0;
    z-index: 10;
    left: 1000px;
    margin-top: 50px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: left 1s, opacity 500ms, visibility 1s;
    transition: left 1s, opacity 500ms, visibility 1s;
}
nav.MobileNav ul {
    width: 100%;
    padding-top: 50px;
    height: 74vh;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    overflow-y: scroll;
}

nav.MobileNav ul li {
    width: 100%;
    height: 100px;
}

nav.MobileNav ul li a[data-disabled=true] {
    pointer-events: none;
}

nav.MobileNav ul li a[data-disabled=false]:hover {
    color: black;
}
