.Project_Header_DR16{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.Project_Title_DR16{
  position: relative;
  left: 0;
  bottom: 0;
  color: #690e10;
  font-size: 4.5em;
}
.Project_P_DR16{
  padding-left: 5%;
  padding-right: 1%;
}
.Project_Section_DR16{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 1;
  top: 0;
  transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
  -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
  font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
  position: relative;
}
