/*.ProjectSection_RemoveOnScroll {
    top: 300px !important;
    opacity: 0 !important;
}*/
/*@media (max-width: 767px) {
    .ProjectSection_TitlePop {
        font-size: 2em;
        left: 5%;
    }
    .ProjectSection_Content {
        max-width: 85%;
    }
}*/
/*@media (min-width: 1025px) {
    .ProjectSection_Content {
        max-width: 60%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .ProjectSection_Content {
        max-width: 80%;
    }
}*/
/*#ProjectSection_Projects {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    top: 0;
    transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    -webkit-transition: all 500ms, opacity 2s, padding-top 2s, top 2s;
    font-size: calc(18px + 11 * ((100vw - 320px) / 1360));
    position: relative;
}*/
/*.ProjectSection_Content {
    margin: 0 auto;
}*/
/*.ProjectSection_Header{
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
}*/
/*.ProjectSection_BackgroundText{
    padding-left: 50px;
    color: #111010;
    font-size: 4em;
}*/
/*.ProjectSection_TitlePop {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #8a1315;
    font-size: 3em;
}*/
