div.Logo{
  opacity: 1;
  height: 50px;
  transition: opacity 2s;
  float: left;
  padding-left: 10px;
}
div.Logo svg{
  height: 100%;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  stroke-width: 0;
  stroke: white;
  fill: white;
}
