#ProjectSummary #Description_Skills_Container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 10px;
  max-width: 1000px;
  justify-content: space-between;
  margin: auto;
}
#ProjectSummary #Description{
  flex: 1;
  margin: 0;
  width: 50%;
}
#ProjectSummary #Skills{
  flex: 1;
  width: 50%;
}
#ProjectSummary #Skills > div{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
#ProjectSummary #Skills span{
  padding: 3px 15px;
}
#ProjectSummary #Skills > h4{
  text-align: center;
  width: 100%;
}