.FlexMe{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.Column{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}
.LogoLink{
  text-align: center;
  transition: fill 0.5s;
  cursor: pointer;
}
.LogoLink:focus,
.LogoLink:hover{
  fill: #c10908;
}