.CenterContent{
    max-width: 800px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.LeftText{
  padding-left: 20px
}
.RedBorderButton{
  padding: 10px;
  border: #C10909 2px solid;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}