#Header {
  height: calc(12vw + 115px);
  overflow: hidden;
  position: relative;
  width: 100%;
}

#Header .Header_TopBar{
  background-color: #C10909;
  height: 100px;
}

#Header .Header_BottomBar{
  background-color: #C10909;
  height: 275px;
  margin-top: -175px;
  transition: transform 0.5s linear;
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  z-index: -1;
  box-shadow: 0 8px 10px rgba(0,0,0,0.35);
}

#Header .Header_BottomBar.Rotated{
  transform: rotateZ(-5deg);
  transform-origin: bottom right;
}

#Header .Header_Logo {
  padding: 10px;
  max-width: 340px;
  transition: opacity 0.5s linear;
  float: left;
  width: calc(8vw + 100px);
}