.ParagraphLink{
  border-bottom: #C10909 solid 1.5px;
  display: inline-block;
  line-height: 1;
}
.ParagraphLink > a{
  text-decoration: none;
  color: inherit;
}
.ParagraphLink > a:visited{
  text-decoration: none;
  color: inherit;
}
h1 > .ParagraphLink,
h2 > .ParagraphLink,
h3 > .ParagraphLink,
h4 > .ParagraphLink,
h5 > .ParagraphLink,
h6 > .ParagraphLink{
  padding-left: 4px;
}