.IconContainer{
  opacity: 1;
  height: 50%;
  transition: opacity 2s;
  float: left;
}
.Icon{
  height: 100%;
  width: 100%;
  display: inline-block;
  stroke-width: 0;
  stroke: 'currentColor';
  fill: 'currentColor';
}