@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
a {
  box-shadow: none;
}
body{
  min-width: 360px;
}
@font-face {
  font-family: 'Tall & Lean';
  src: url('./fonts/Tall & Lean.ttf') format('ttf'),
  url('./fonts/Tall & Lean.eot') format('eot'),
  url('./fonts/Tall & Lean.svg') format('svg'),
  url('./fonts/Tall & Lean.woff') format('woff'),
  url('./fonts/Tall & Lean.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT-Light';
  src: url('./fonts/FuturaPT-Light.ttf') format('ttf'),
  url('./fonts/FuturaPT-Light.eot') format('eot'),
  url('./fonts/FuturaPT-Light.svg') format('svg'),
  url('./fonts/FuturaPT-Light.woff') format('woff'),
  url('./fonts/FuturaPT-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6{
  letter-spacing: 3px;
}