body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@element .ProjectContainer_EQCSS_1{
    .ProjectContainer_EQCSS_1 {
        font-size: 2.5ew !important;
    }
}
@element .ProjectContainer_EQCSS_2 {
    .ProjectContainer_EQCSS_2 {
        font-size: 7ew !important;
    }
}
@element #Message {
  #Message {
    height: eval("style.height='inherit';style.height=scrollHeight+'px';");
  }
}
@element #FormGroup {
  #FormGroup {
    min-height: 60px;
    height: eval('querySelector("textarea").offsetHeight')px !important;
  }
  #FormGroup [data-transitioned="true"] #EmailLabel{
    transform: translateY(-50px) scale(0.8) translateX( eval('querySelector("#NameLabel").offsetWidth + 10')px )!important;
  }
  #FormGroup [data-transitioned="true"] #MessageLabel{
    transform: translateY(-50px) scale(0.8) translateX( eval('querySelector("#NameLabel").offsetWidth + querySelector("#EmailLabel").offsetWidth + 19')px )!important;
  }
  #FormGroup [data-transitioned="true"] div{
    max-width: 33ew !important;
  }
  @media (max-width: 960px) {
    #FormGroup [data-transitioned="true"] #EmailLabel{
      transform: translateY(-85px) scale(0.8) translateX( 17px )!important;
    }
    #FormGroup [data-transitioned="true"] #MessageLabel{
      transform: translateY(-50px) scale(0.8) translateX( 17px )!important;
    }
    #FormGroup [data-transitioned="true"] div{
      max-width: 100ew !important;
    }
  }
}